.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card_home {
    margin: 30px auto;
    width: 300px;
    height: 330px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px 3px rgba(107, 104, 104, 0.25), -5px -5px 30px 7px rgba(173, 171, 171, 0.22);
    cursor: pointer;
    transition: 0.4s;
    /*background: linear-gradient(to right, rgb(89, 94, 134) 0%, rgb(27, 115, 209) 100%);*/
  }
  
  .card_home .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card_home .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card_home .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    height: 220px;
  }


  
  .card_home:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 3px 3px 6px 10px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  .backimage{
      background-image: url("https://i.redd.it/b3esnz5ra34y.jpg");
      filter: blur(6px);
      -webkit-filter: blur(8px);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(196, 122, 122, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -170%);
        z-index: 2;
        width: 98%;
        padding: 20px;
        text-align: center;
      }
  /*
  .card_home {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */