@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

.App {
  color: rgb(7, 1, 1);
  background: linear-gradient(to right, rgb(240, 255, 255)0%, rgb(255, 255, 255) 100%);

 }
.footer-color{
  align-items: center;
  min-height: 13vh;
  background-color: #343a40!important;
  color: white;
}

.body-size{
  height: 72vh;
}

.backgroud-texture{
  /*background-image: url("./images/background-texture.png");
  background-color: azure;
  background-repeat: no-repeat;
  background-size: 30% 50%;*/
  
}
